<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57158751183-n613rk8nubmf036q3g18nojjqdp3o8uk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57158751183-n613rk8nubmf036q3g18nojjqdp3o8uk</string>
	<key>API_KEY</key>
	<string>AIzaSyC2lrjAOzYAcj6M-m90n1tcR8oJ7bmcDlE</string>
	<key>GCM_SENDER_ID</key>
	<string>57158751183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tolgakucuk.PhoneBookApp</string>
	<key>PROJECT_ID</key>
	<string>phonebookapp-b1aed</string>
	<key>STORAGE_BUCKET</key>
	<string>phonebookapp-b1aed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57158751183:ios:e4533352465cc7b03b38ba</string>
</dict>
</plist>